.container {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  .topbar {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;

    .sidebarItem {
      /* */
    }
  }

  .body {
    flex: 1;
    // height: inherit;
    // width: inherit;
  }
}
